<p id="notice"><%= notice %></p>

<p>
  <strong>Seat code:</strong>
  <%= @reservation.seat_code %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Flight:</strong>
  <%= @reservation.flight %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
